



p{

display:inline;

}
.north{


    display: inline-block;

}
#image{
    display: inline-block;
    position: relative;
    width:100px;
   left:50px;
   top:20px;
    border-color:grey;
    border-style:solid; 
    border:1%;
}
.fullname{
    font-size:20px; 
   font-family: "Sarabun";
    text-transform: uppercase;
    display: inline-block;
    position: relative;
bottom: 50px;
left:70px;

  
}
.name{

    font-weight: bold;
     

}
.quest{
    font-weight: bold;
}
.career{
   
   
    color:cornflowerblue;
    display: inline-block;
    position: relative;
  right:85px;
bottom: 24px;


}
.info{
bottom:100px;
   float:right;
   font-size: 10px;
    position:relative;
    
}
.description{
    position: relative;
    display: inline-block;
    left:20px;
   
text-align: center;
    padding-bottom: 20px;
    border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: black;
}
