



p{

display:inline;

}
.north{

padding: 100px;
    display: inline;
    margin:auto;

}
#image{
    display: inline-block;
    position: relative;
    width:100px;
   right:20px;
   top:20px;
    border-color:grey;
    border-style:solid; 
    border:1%;
}
.fullname{
    font-size:20px; 
   font-family: "Sarabun";
    text-transform: uppercase;
    display: inline-block;
    position: relative;
bottom: 50px;
left:20px;

font-weight: bold;
}

.quest{
    font-weight: bold;
}
.career{
   
   
    color:cornflowerblue;
    display: inline;
    position: relative;
  right:13%;
bottom: 24px;
font-family:"Sarabun";
font-weight:bold;

}
.info{

   left:40%;
   font-size: 10px;
    position:relative;
    display:inline-block;
    
}
#description{
    display: inline-block;
position: relative;
left:5%;
    font-weight: normal;
  
 border-bottom-color: gray;
border-bottom-style: ridge;
padding-bottom: 10%;
}



.bottom-left{

padding-right: 5%;
float:left;

}

.maxtitle{

    display:inline-block;
background-color: rgb(31, 28, 28);
color:white;
}

.mintitle{

font-weight:bold;
    display:inline-block;
}


.java-skill{
    background-color: rgb(184, 13, 13);
   width:78%;
   font-weight: bold;
   text-align: right;
   color:white;
}
.cpp-skill{
    background-color: blueviolet;
   width:35%;
   text-align: right;
   color:white;
   font-weight: bold;
}
.csharp-skill{
    background-color: greenyellow;
   width:73%;
   font-weight: bold;
   text-align: right;
   color:white;

}
.html-skill{
    background-color: palevioletred;
   width:30%;
   text-align: right;
   color:white;
   font-weight: bold;
}
.css-skill{
    background-color: darkcyan;
   width:27%;
   text-align: right;
   color:white;
   font-weight: bold;
}
.js-skill{
    background-color: blanchedalmond;
   width:20%;
   text-align: right;
   color:white;
   font-weight: bold;
}


.empty-skill{
    background-color: rgb(202, 197, 197);
    width:100%;

}
.skill{

   
    color:black;

}

.bottom-right{

    float:right;
}

.maxtitle-right{
display:block;
font-weight: bold;  
font-family: "Sarabun";
}
.graph-skill{

display: inline-block;
width:95%;


}

.lang-skill{

    padding-right:10%;
}