



p{

display:inline;

}
.north{

padding: 100px;
    display: inline;
    margin:auto;

}
#image{
    display: inline-block;
    position: relative;
    width:100px;
   right:20px;
   top:20px;
    border-color:grey;
    border-style:solid; 
    border:1%;
}
.fullname{
    font-size:20px; 
   font-family: "Sarabun";
    text-transform: uppercase;
    display: inline-block;
    position: relative;
bottom: 50px;
left:20px;

font-weight: bold;
}

.quest{
    font-weight: bold;
}
.career{
   
   
    color:cornflowerblue;
    display: inline;
    position: relative;
  right:150px;
bottom: 24px;


}
.info{

   left:40%;
   font-size: 10px;
    position:relative;
    display:inline-block;
    
}
#description{
    display: inline-block;
position: relative;
left:5%;
    font-weight: normal;
  
 border-bottom-color: gray;
border-bottom-style: ridge;
padding-bottom: 10%;
}

